
<div>
  <h1>{{category.name}}</h1>
  <!-- -->
  <div class="container">
    <div class="text-center">

      <!-- items being paged -->
      <mat-grid-list [rowHeight]="getRowHeight()" [cols]="getNumberCols()">
        <mat-grid-tile
          *ngFor="let tile of getTiles()"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color">

          <!-- Image and hyperlink -->
          <div>
            <a href="#" > <img [width]="getRowHeight()" [src]="getImageURL(tile.uid)" [srcset]=""></a>
            {{ tile.description}}
          </div>

        </mat-grid-tile>

      </mat-grid-list>

      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
</div>
