<div>
  <h1 *ngIf="cachedCategory">{{cachedCategory.name}}</h1>
  <p *ngIf="cachedCategory">{{cachedCategory.description}}</p>

  <!-- -->
  <div class="container">
    <div class="text-center">

      <!-- TODO relocate to navbar later! -->
      <form class="form-inline my-2 my-lg-0" (submit)="onSearch()">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="cacheSearch"
               name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <!-- items being paged -->
      <mat-grid-list [cols]="this.breakpoint" rowHeight="1.0:1.0" (window:resize)="onResize($event)">
        <mat-grid-tile
          *ngFor="let item of tiles"
          [style.background]="item.color">

          <!-- Image and hyperlink -->
          <app-item-thumb-nail
            [item]="item.item"
            (callback)="itemClick($event)"
          ></app-item-thumb-nail>

        </mat-grid-tile>

      </mat-grid-list>

      <ngb-pagination class="d-flex justify-content-center" [pageSize]="getNrElementOnPage()"
                      [collectionSize]="cachedItems.length" [page]="pager.currentPage"
                      aria-label="Default pagination" (pageChange)="setPage($event)"></ngb-pagination>

    </div>
  </div>
</div>
