<div>
    <form (ngSubmit)="onSubmit()" #productForm="ngForm">
        <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" class="form-control" id="name"
            required
            [(ngModel)]="model.name" name="name"
            >
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price"
            required
            [(ngModel)]="model.price" name="price"
            >
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category"
            required
            [(ngModel)]="model.category" name="category"
            >
                <option *ngFor="let cat of categories | async" [value]="cat.uid">{{cat.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Description</label><br>
            <textarea name="description" rows="5" cols="41"
            required
            [(ngModel)]="model.description" name="description"
            >Describe the product for the customer.</textarea>
        </div>
		
		<div class="form-group">
            <label for="count">Quantity</label>
            <input type="number" class="form-control" id="count"
            required
            [(ngModel)]="model.count" name="count"
            >
     </div>
		
		<div class="dropzone" 
			dropZone
			(hovered)="toggleHover($event)"
			(dropped)="chooseFiles($event)"
			[class.hovering]="isHovering">

			<label for="file">File</label>
			<div class="file" class="form-group">
				<label class="file-label">
					<input #myInput class="file-input" name="filename" type="file" (change)="chooseFiles($event)">
					<span class="file-cta">
						<span class="file-icon">
						<i class="fa fa-upload"></i>
						</span>
					</span>
				</label>
			</div>
		</div>

	<div *ngIf="percentage | async as pct">
		<progress class="progress is-info" 
				[value]="pct" 
				max="100">        
		</progress>
		{{ pct | number }}%
	</div>

        <button type="submit" [disabled]="!productForm.form.valid">Submit</button>
    </form>
</div>