
<div>
  <a routerLink="/frontpage">
    <img class="logo" src="/assets/logo.png">
  </a>
  (Search module goes here)
  <div *ngIf="auth.user | async; then loggedin else guest" class="loginlogout" > <!-- Templates replaces this tag -->
  </div>
</div>

<ng-template #guest>
  <div class="loginlogout">
      <button (click)="auth.googleLogin()" type="button"> Log In </button>
      <p>You are logged out</p>
  </div>
</ng-template>

<ng-template #loggedin>
  <div class="loginlogout">
      <button (click)="auth.signOut()" routerLink="" type="button"> Log Out </button>
      <p>You are logged in</p>
  </div>
</ng-template>


<app-admin></app-admin>
