<div class="container">
  <div class="row">
    <div class="col-md-3 nopadding">
      <a routerLink="/frontpage">
        <img class="logo" src="/assets/logo.png">
      </a>
    </div>
    <div class="col-md-6 nopadding">
      <h1>Cuddly(tm)</h1>
    </div>
    <div class="col-md-3 nopadding">
      <div *ngIf="authService.user | async; then loggedin else guest" class="loginlogout" > <!-- Templates replaces this tag -->
      </div>
    </div>
  </div>

  <ng-template #guest>
    <div class="loginlogout">
        <button (click)="authService.googleLogin()" type="button"> Log In </button>
        <p>You are logged out</p>
    </div>
  </ng-template>

  <ng-template #loggedin>
      <div class="loginlogout">
          <button (click)="authService.signOut()" routerLink="" type="button"> Log Out </button>
          <p>Welcome {{user.displayName}}!</p>
      </div>
    </ng-template>
</div>

<app-nav></app-nav>
<!--
<app-product-list></app-product-list>



<app-admin></app-admin>
-->
