<h2>Basket</h2>





<div *ngIf="!items"> 
Empty :(
</div>

<table  *ngIf="items" width=100% class="table">
  <tr class="bg-primary text-light">
    <th>Product Name</th>
    <th></th>
    <th>Price</th>
	<th></th>
	<th></th>
  </tr>
  <tr *ngFor="let item of (items$ |async)">
    <td>{{item.item.name}}</td>
    <td>x{{item.count}}</td>
    <td>{{item.item.price}} SEK</td>
	<td>{{item.item.price * item.count}} SEK</td>
	<td align="right">
		<button type="button" class="btn btn-primary" (click)="countUp(item.item.uid)">+</button>
		<button type="button" class="btn btn-primary" (click)="countDown(item.item.uid)">-</button>
		<button type="button" class="btn btn-primary" (click)="deleteItem(item.item.uid)">delete</button>
	</td>
  </tr>
  <tr>
    <th>Total:</th>
    <th>x{{itemCount}}</th>
    <th></th>
	<th>{{ sum }} SEK</th>
	<th></th>
  </tr>
</table>


<div *ngIf="items"> 

		<form (ngSubmit)="checkOut()" #productForm="ngForm">

				<div class="form-group">
					<label for="address">Address</label>
					<select class="form-control" id="address"
					required
					[(ngModel)]="address" name="address"
					>
						<option *ngFor="let address of address$ | async" [value]="address.uid">{{address.address1}}, {{address.zip}}, {{address.city}}, {{address.address2}}</option>
					</select>
				</div>
			 <button type="submit" class="btn btn-primary right" [disabled]="!productForm.form.valid">Checkout</button>
		</form>

</div>







