div h5 {
    text-align: left;
    display: inline-block;
    width: 100%;
    margin-right: -50%;
}
.right {
	
	float: right;
}

tr:nth-child(even)
{
    background: var(--light);
}

tr:nth-child(odd)
{
    background: var(--extraLight);
}
