<h2>Admin Controls</h2>
<ngb-accordion  [closeOthers]="true">

	<ngb-panel id="static-1" title="New Product">
		<ng-template ngbPanelContent>
			<app-addproduct></app-addproduct>
		</ng-template>
	</ngb-panel>

	<ngb-panel id="static-2" title="Delete Product">
		<ng-template ngbPanelContent>
			<app-deleteproduct></app-deleteproduct>
		</ng-template>
	</ngb-panel>

	<ngb-panel id="static-3" title="New Category">
		<ng-template ngbPanelContent>
			<app-addcategory></app-addcategory>
		</ng-template>
	</ngb-panel>

</ngb-accordion >
