<h2>User Profile</h2>
<h3>Shipping Address Management</h3>
<ngb-accordion  [closeOthers]="true">
  <ngb-panel id="static-1" title="New Address">
		<ng-template ngbPanelContent>
			<div>
        <form (ngSubmit)="onSubmit()" #productForm="ngForm">
            <div class="form-group">
                <label for="adress1">Address 1</label>
                <input type="text" class="form-control" id="adress1"
                required
                [(ngModel)]="a1" name="adress1"
                >
            </div>
    
            <div class="form-group">
                <label for="adress2">Address 2</label>
                <input type="text" class="form-control" id="adress2"
                [(ngModel)]="a2" name="address2"
                >
            </div>
    
            <div class="form-group">
              <label for="zip">Zip Code</label>
              <input type="number" class="form-control" id="zip"
              required
              [(ngModel)]="zip" name="zip"
              >
          </div>
        
          <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city"
                required
                [(ngModel)]="city" name="city"
                >
          </div>
    
          <button type="submit" [disabled]="!productForm.form.valid">Submit</button>

        </form>
      </div>
		</ng-template>
  </ngb-panel>
  <ngb-panel *ngFor="let a of adresses | async" [title]="a.address1">
    <ng-template ngbPanelContent>
      <button class="btn float-right btn-danger" (click)="onDelete(a)">Delete</button>
      <p>{{a.address1}}</p>
      <p>{{a.address2}}</p>
      <p>{{a.zip}}</p>
      <p>{{a.city}}</p>
		</ng-template>
  </ngb-panel>
</ngb-accordion>