
<div class="btn-group btn-group-toggle" ngbRadioGroup name="userRadio" [(ngModel)]="userName">
  <label *ngFor="let order of orders" class="btn btn-primary">
    <input ngbButton type="radio" [value]="order.name" (click)="changeActive(order)"> {{order.name}}
  </label>
</div>

<table *ngIf="order"  width=100% class="table table-primary table-striped">
  <tr class="bg-primary text-light">
    <th>Product Name</th>
    <th></th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let item of order.cart">
    
    <td>{{item.item.name}}</td>
    <td>x{{item.count}}</td>
    <td>{{item.item.price * item.count}} SEK</td>
  </tr>
  <tr>
    <th>Total</th>
    <th></th>
    <th>{{totalPrice}} SEK</th>
  </tr>
</table>
<div *ngIf="order">
  <h3>{{order.name}}</h3>
  <p>{{order.adress1}}, {{order.adress2}}<br>
  {{order.zip}}<br>
  {{order.city}}</p>
  
  <button class="btn btn-outline-primary" (click)="showReject = !showReject">Reject</button>
  <button class="btn btn-outline-primary" (click)="acceptOrder()">Accept</button>

  <div id="rejectForm" [ngbCollapse]="!showReject">
    <form (ngSubmit)="rejectOrder()">

        <div class="form-group">
            <label>Reason for Rejection</label><br>
            <textarea name="reason" rows="5" cols="41"
            required
            [(ngModel)]="reason" name="reason"
            ></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>
  </div>
</div>