.details{
	max-height:500px;
    max-width:500px;
	height:auto;
    width:50%;
	float:left;
	padding: 5px;
	margin-top: 1em;
}

.addtocart{
	margin-bottom: 1em;
}

.rating{
	max-height:200px;
    max-width:200px;
    height:auto;
    width:auto;
	margin-bottom: 1em;
}

.rating_1{
	max-height:200px;
    max-width:200px;
	height:auto;
    width:25%;
	float:left;
	padding: 5px;
	font-size: xx-large;
}

.attachment{
	margin-bottom: 1em;
	margin-top: 1em;
}

.clearfix {
    overflow: auto;
}
