
.thumb-link {
    cursor: pointer;
}

.thumb-link:hover {
    color: blue;
}

.caption {
    background-color: rgba(255, 255, 255, 0.479);
    position: absolute;
    bottom: 40%;
    width: 70%;
    text-align: center;
}

.pricetag {
    background-color: rgba(240, 255, 30, 0.74);
    position: absolute;
    top: 5%;
    right: 15px;
    padding: 10px 10px 3px 10px;
    text-align: right;
}

.addtocart {
    background-color: rgba(240, 255, 30, 0.74);
    position: absolute;
    bottom: 0%;
    right: 0;
    width: 50%;
    height: 10%;
    text-align: center;
}

.image{
	max-height:200px;
    max-width:200px;
    height:auto;
    width:auto;
}

.rating {
  position: relative;
  z-index: 1;
  left: -100px;
}
