<!-- <img class="logo" src="/assets/teddybear.jpg"> -->


<div class="thumbnail">
    <a class="thumb-link" (click)="onClick()">
        <div class="caption">
            <h4 class="">{{item.name}}</h4>
        </div>
        <div class="pricetag">
            <h5 class="">{{item.price}} SEK</h5>
        </div>
        <div class="addtocart" (click)="addCart()">
            <h4>Add to cart</h4>
        </div>
      <!-- src="/assets/teddybear.jpg" -->

		<div class="rating">
			<img class="img_thumbup" img src="/assets/thumb-up.png" width="15%" (click)="rateUp()">
			{{votesUp}}
			<img class="img_thumbdown" img src="/assets/thumb-down.png" width="15%" (click)="rateDown()">
			{{votesDown}}
		</div>

        <img class="image" [src]=imageURL title="{{item.description}}" alt="{{item.name}}">


    </a>
</div>
