
.thumb-link {
    cursor: pointer;
}

.thumb-link:hover {
    color: blue;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    text-align: center;
}

.pricetag {
    background-color: var(--secondary);
    position: absolute;
    top: 0;
    right: 15px;
    padding: 10px 10px 3px 10px;
    text-align: right;
}

.addtocart {
    background-color: var(--secondary);
    position: absolute;
    bottom: 25%;
    right: 15px;
    width: 50px;
    height: 40px;
    text-align: center;
    z-index:1;
}

.addtocart img {
    width: 60%;
    display: block;
    margin: auto;
}

.btn-primary {
    background-color: var(--light);
    width: 100%;
    height: 100%;
    padding:0;
}

.btn-primary:hover{
    filter: invert(100%);
    background-color: var(--light);
}

.image{
	max-height: 100%;
    max-width: 100%;
    height:auto;
    width:auto;
}
