<div class="thumbnail" style="height: 300px">
    
    <div class="addtocart"> 
        <button class="btn btn-primary" style="width: 100%;" type="submit" (click)="addCart()"><img src="/assets/big-shopping-cart-vector-clipart.png" alt="Add to basket"></button>
    </div>
    
    <div *ngIf="_item.highlighted" class="pricetag">
        <h5 class="text-dark">Hot!</h5>
    </div>

    <a class="thumb-link"[routerLink]="['/main/product', _item.uid]" style="height: 100%;">
    <div style="height: 70%">
        <div class="caption">
            <h5 class="text-dark" (click)="openDetails()">{{_item.price}} SEK</h5>
            <h4 class="text-dark" (click)="openDetails()">{{_item.name}}</h4>
        </div>
        <img class="image" [src]=imageURL title="{{_item.description}}" alt="{{_item.name}}" (click)="openDetails()">
    </div>
    </a> 
</div>
