<div class="thumbnail">
    <a class="thumb-link"[routerLink]="['/main/product', item.uid]" >
        <div class="caption">
            <h4 class="" (click)="openDetails()">{{item.name}}</h4>
        </div>
        <div class="pricetag">
            <h5 class="" (click)="openDetails()">{{item.price}} SEK</h5>
        </div>
        <div class="addtocart" (click)="addCart()">
            <h4>Add to cart</h4>
        </div>
      <!-- src="/assets/teddybear.jpg" -->

        <img class="image" [src]=item.path title="{{item.description}}" alt="{{item.name}}" (click)="openDetails()">
    </a>
</div>
