
<div class="container">
  <div class="row">
    <div class="col-md-3 nopadding">
      <div
      class="btn-group-vertical btn-group-toggle"
      ngbRadioGroup
      [(ngModel)]="model"
      >

        <label *ngIf="admin" class="btn btn-primary">
          <input ngbButton type="radio" value="Admin Controls" [routerLink]="['admin']"> Admin Controls
        </label>

        <label *ngIf="admin" class="btn btn-primary">
          <input ngbButton type="radio" value="New Orders" [routerLink]="['order']"><b *ngIf="newOrders > 0" class="bg-danger">&ensp;{{newOrders}}&ensp;</b> New Orders
        </label>
        <br *ngIf="admin">

		<label  *ngIf="loggedIn" class="btn btn-primary">
          <input ngbButton type="radio" value="Basket" [routerLink]="['basket']"><b class="bg-danger">&ensp;{{ itemAmount }}&ensp;</b> Basket
        </label>
		<br>

        <label *ngFor="let cat of categories | async" class="btn btn-primary">
          <input ngbButton type="radio" [value]="cat.name" (click)="onChange(cat.name)" [routerLink]="['/main']"> {{cat.name}}
        </label>


      </div>
    </div>
    <div class="col-md-9">
      <div class="main">

        <router-outlet></router-outlet>
        <app-product-list [category]="category"></app-product-list>

      </div>
    </div>
  </div>
</div>
