
<div class="container">
  <div class="row">
    <div class="col-md-3 nopadding">
      <div
      class="btn-group-vertical btn-group-toggle"
      ngbRadioGroup
      [(ngModel)]="model"
      >

		<label  *ngIf="loggedIn" class="btn btn-primary">
          <input ngbButton type="radio" value="Basket" [routerLink]="['basket']"><b class="bg-danger">&ensp;{{ itemAmount }}&ensp;</b> Basket
        </label>
		<br>

        <label *ngFor="let cat of categories | async" class="btn btn-primary">
          <input ngbButton type="radio" [value]="cat.name"  [routerLink]="['/main/product-list', cat]"> {{cat.name}}
        </label>

      </div>
    </div>
    <div class="col-md-9">
      <div class="main" style="margin: 15px">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
